extends ./layout/index

block contenido 
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda unde fuga laboriosam officiis. Libero ratione aliquam tenetur. Ducimus reprehenderit enim voluptatem quibusdam fugiat, minima molestiae, a dolorem ipsum, eligendi inventore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat modi mollitia in repellendus praesentium aspernatur earum accusamus omnis perspiciatis, possimus maxime deleniti, ea aperiam ut obcaecati nulla quia id exercitationem!

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio magni, esse, ipsa molestiae quas nobis aperiam, pariatur quos quibusdam ipsum eum? At nesciunt inventore nostrum quod recusandae, veritatis voluptas!

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus tenetur itaque iusto aliquam officia aperiam modi tempore inventore magnam! Et, est! Dicta deserunt ut id esse, hic aspernatur consequatur accusamus?

    .listado-iconos     
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit ipsa voluptate et obcaecati corporis totam ab rerum. Soluta ipsam perferendis est dolore ut error dolorem quod nulla aliquam sit!

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit ipsa voluptate et obcaecati corporis totam ab rerum. Soluta ipsam perferendis est dolore ut error dolorem quod nulla aliquam sit!
                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur sit ipsa voluptate et obcaecati corporis totam ab rerum. Soluta ipsam perferendis est dolore ut error dolorem quod nulla aliquam sit!